#skills {
  background-color: #212738;
}

#skills-container {
  display: flex;
  width: 95%;
  margin: auto;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.skill {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  border: 2px solid #f3efe0;
  border-radius: 5px;
  display: inline-block;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #skills-container {
    width: 75%;
    max-width: 80vw;
  }
}
