/* SVG animation */

#coder-div {
  text-align: center;
  margin-top: 60px;
}

#coder {
  overflow: visible;
}

#person {
  animation: person 1s ease-in-out infinite alternate;
}

@keyframes person {
  from { transform: rotateX(0deg); }
  to { transform: rotateX(10deg); }
}

#chair {
  animation: chair 1s ease-in-out infinite alternate;
  transform-origin: bottom;
}

@keyframes chair {
  from { transform: rotateX(10deg); }
  to { transform: rotateX(0deg); }
}

#leaves {
  animation: leaves 2.1s ease-in-out infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes leaves {
  from { transform: rotateZ(-3deg); }
  to { transform: rotateZ(3deg); }
}

.code1 {
  animation: flicker 0.5s ease-in-out alternate infinite;
}

.code2 {
  animation: flicker 0.7s ease-in-out alternate infinite;
}

.code3 {
  animation: flicker 0.9s ease-in-out alternate infinite;
}

.code4 {
  animation: flicker 1.0s ease-in-out alternate infinite;
}

.code5 {
  animation: flicker 1.1s ease-in-out alternate infinite;
}

@keyframes flicker {
  from { fill-opacity: 0; }
  to { fill-opacity: 1; }
}

#screen_2 {
  animation: screen 1.3s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#screen_4 {
  animation: screen 1.1s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes screen {
  from { transform: scale(1.02); }
  to { transform: scale(1.0); }
}